# pgmk config file
#PGMK_HOME=/home/manikanta/unitTesting
#DUMPS_DIR="${PGMK_HOME}/dumps"
#SSH_USER_NAME=emkay
#REMOTE_IP=13.235.49.174
#REMOTE_DB_NAME=admissions_copy_april30
#LOCAL_DB_NAME=db_ut
#DUMP_FILE="${REMOTE_IP}_${REMOTE_DB_NAME}.dump"
SSH_USER_NAME=emkay
REMOTE_IP=13.235.49.174
REMOTE_DB_NAME=admissions_copy_april30
LOCAL_DB_NAME=db_ut